<!doctype html>
<html>
<head>
<title>JobCoin Mixer Service</title>
<link rel="stylesheet" th:href="@{/css/main.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
	<div class="page-container">
		<div class="title-container">
			<h1>Welcome to the JobCoin Mixer!</h1>
		</div>
		<div class="instructions-container">
			<ol>
				<li>Add a comma-separated list of the addresses you want your coins to be transferred to after mixing</li>
				<li>Click &quot;Get Deposit Address&quot; to receive a deposit address</li>
				<li>Send the amount you wish to mix to the Deposit Address within 1 hour! This must be one single deposit!</li>
				<li>Receive your coins at the provided addresses within 60 seconds</li>
			</ol>
		</div>
		<div class="form-container" id="mixer-form-container">
			<form class="mixer-form" id="mixer-form" th:action="@{/mixer-form}" method="post">
				<textarea rows="10" columns="50" id="output-addresses" name="addresses" placeholder="Comma Separated List of Addresses"></textarea>
				<br />
				<button type="button" id="get-deposit-address-button">Get Deposit Address</button>
			</form>
		</div>
		<div class="deposit-address-container" id="deposit-address-container">
			<h1>Deposit Address</h1>
			<p id="deposit-address-text"></p>
		</div>
	</div>
</body>
</html>